In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

from joblib import load

In [2]:
player_df_dropped_row = pd.read_parquet('parquet_data/player_df_missing_handled.parquet')
player_df_dropped_row.head()

,Date,Opponent,Result,S,Kills,Errors,Total Attacks,Hit Pct,Assists,SErr,Digs,Block Assists,PTS,name,team_name
0,09/17/2016,@ Yale,L 1 - 3,4.0,14.0,3.0,37.0,0.297,3.0,1.0,5.0,3.0,16.5,"Carlson, Morgan",A&M-Corpus Christi (Southland)
1,10/15/2016,Lamar University,W 3 - 0,3.0,8.0,3.0,20.0,0.250,3.0,1.0,3.0,4.0,10.0,"Carlson, Morgan",A&M-Corpus Christi (Southland)
2,10/20/2016,@ New Orleans,W 3 - 1,4.0,9.0,3.0,21.0,0.286,1.0,2.0,5.0,3.0,11.5,"Carlson, Morgan",A&M-Corpus Christi (Southland)
3,11/03/2016,McNeese,W 3 - 0,3.0,9.0,1.0,17.0,0.471,1.0,1.0,6.0,2.0,10.0,"Carlson, Morgan",A&M-Corpus Christi (Southland)
4,11/12/2016,@ Houston Baptist,W 3 - 1,4.0,7.0,6.0,21.0,0.048,1.0,2.0,8.0,4.0,9.0,"Carlson, Morgan",A&M-Corpus Christi (Southland)

In [3]:
X_player = player_df_dropped_row[['S', 'Kills', 'Errors', 'Total Attacks', 'Hit Pct', 'Assists', 
                                  'SErr', 'Digs', 'Block Assists', 'PTS', 'name']]

X_player

,S,Kills,Errors,Total Attacks,Hit Pct,Assists,SErr,Digs,Block Assists,PTS,name
0,4.0,14.0,3.0,37.0,0.297,3.0,1.0,5.0,3.0,16.5,"Carlson, Morgan"
1,3.0,8.0,3.0,20.0,0.250,3.0,1.0,3.0,4.0,10.0,"Carlson, Morgan"
2,4.0,9.0,3.0,21.0,0.286,1.0,2.0,5.0,3.0,11.5,"Carlson, Morgan"
3,3.0,9.0,1.0,17.0,0.471,1.0,1.0,6.0,2.0,10.0,"Carlson, Morgan"
4,4.0,7.0,6.0,21.0,0.048,1.0,2.0,8.0,4.0,9.0,"Carlson, Morgan"
...,...,...,...,...,...,...,...,...,...,...,...
30796,3.0,9.0,8.0,32.0,0.031,1.0,2.0,12.0,3.0,13.5,"Pe'a, Brooklen"
30797,3.0,10.0,3.0,38.0,0.184,1.0,3.0,12.0,1.0,10.5,"Thompson, Margaux"
30798,5.0,17.0,6.0,37.0,0.297,1.0,5.0,21.0,1.0,20.5,"Thompson, Margaux"
30799,3.0,3.0,7.0,26.0,-0.154,1.0,2.0,12.0,1.0,3.5,"Thompson, Margaux"
30800,4.0,9.0,5.0,34.0,0.118,3.0,3.0,20.0,1.0,9.5,"Thompson, Margaux"

In [4]:
names = X_player['name']
numeric_df = X_player.drop(columns=['name'])

# MinMaxScaler ile normalizasyon
scaler = StandardScaler()
normalized_data = scaler.fit_transform(numeric_df)

# Normalize edilmiş veriyi DataFrame'e çevir ve 'name' sütununu geri ekle
normalized_df = pd.DataFrame(normalized_data, columns=numeric_df.columns)
normalized_df['name'] = names
normalized_df

,S,Kills,Errors,Total Attacks,Hit Pct,Assists,SErr,Digs,Block Assists,PTS,name
0,0.134070,1.035165,-0.043822,0.942644,0.234254,-0.627642,-0.782683,-0.686138,0.573142,1.032393,"Carlson, Morgan"
1,-1.096044,0.003278,-0.043822,-0.146944,0.039906,-0.627642,-0.782683,-1.098645,1.272673,-0.026967,"Carlson, Morgan"
2,0.134070,0.175259,-0.043822,-0.082851,0.188768,-0.736927,0.278430,-0.686138,0.573142,0.217500,"Carlson, Morgan"
3,-1.096044,0.175259,-0.746456,-0.339224,0.953754,-0.736927,-0.782683,-0.479885,-0.126388,-0.026967,"Carlson, Morgan"
4,0.134070,-0.168704,1.010130,-0.082851,-0.795376,-0.736927,0.278430,-0.067378,1.272673,-0.189946,"Carlson, Morgan"
...,...,...,...,...,...,...,...,...,...,...,...
30796,-1.096044,0.175259,1.712764,0.622177,-0.865672,-0.736927,0.278430,0.757635,0.573142,0.543457,"Pe'a, Brooklen"
30797,-1.096044,0.347240,-0.043822,1.006737,-0.233008,-0.736927,1.339542,0.757635,-0.825919,0.054522,"Thompson, Margaux"
30798,1.364185,1.551109,1.010130,0.942644,0.234254,-0.736927,3.461767,2.613914,-0.825919,1.684306,"Thompson, Margaux"
30799,-1.096044,-0.856629,1.361447,0.237617,-1.630658,-0.736927,0.278430,0.757635,-0.825919,-1.086327,"Thompson, Margaux"
30800,0.134070,0.175259,0.658813,0.750364,-0.505922,-0.627642,1.339542,2.407661,-0.825919,-0.108457,"Thompson, Margaux"

In [5]:
averaged_df = normalized_df.groupby('name').mean(numeric_only=True).reset_index()

# Sonuç
(averaged_df)

,name,S,Kills,Errors,Total Attacks,Hit Pct,Assists,SErr,Digs,Block Assists,PTS
0,"Abalos, Jordan",-0.173458,1.271640,1.712764,1.311181,-0.224738,-0.716436,-0.119488,0.706071,0.048494,1.134254
1,"Abbott, Maddy",-1.096044,-1.372573,-0.043822,-1.108345,-3.474894,1.284848,-0.782683,-1.098645,-0.825919,-1.249306
2,"Abbott, Symone",0.022242,1.363493,1.105944,1.432084,-0.126248,-0.702154,0.760753,-0.123629,-0.380763,1.128698
3,"Abelman, Makenzi",-0.357976,-1.063006,-1.027510,-1.095526,0.479049,1.175563,-0.782683,0.221376,-0.126388,-1.135221
4,"Abram, Dree'Ana",0.031561,0.103600,-0.102375,-0.040122,0.079189,-0.736927,-0.428979,-1.218959,0.748025,0.237873
...,...,...,...,...,...,...,...,...,...,...,...
4145,"de Jesus, Sharlissa",-0.010649,0.691203,1.092793,0.863470,-0.359249,-0.698356,0.652940,0.430056,-0.496728,0.725610
4146,"de Lara, Yasmin",-0.275968,-0.054050,0.307495,0.045336,-0.559677,-0.736927,-0.782683,-0.411134,-0.592742,-0.189946
4147,"van Heijningen, Eline",1.364185,-0.598657,-0.570798,-0.819925,0.163958,-0.736927,0.278430,-1.304898,0.223377,-0.556647
4148,"van der Biezen, Taylor",0.072564,-0.985615,-1.027510,-1.053866,0.500138,1.385937,-0.092960,0.221376,-0.371224,-0.805189
4149,"van der Mark, Marieke",-1.096044,-1.200591,-1.097774,-1.300625,1.073671,-0.736927,-0.782683,-1.304898,-0.825919,-1.412284

In [16]:
from joblib import load

# Modeli yükle
loaded_model = load('logistic_regression_model_team.joblib')

In [10]:
def test_model(selected_players):
    filtered_df = averaged_df[averaged_df['name'].isin(selected_players)]

    # Seçilen oyuncuların ortalama özelliklerini hesaplama
    averages = filtered_df.mean(numeric_only=True)
    
    averages_df = pd.DataFrame([averages])
    new_predictions = loaded_model.predict(averages_df)
    print("model output:", new_predictions)

baylor takımı kazanmış yine : https://pvpanthers.com/sports/womens-volleyball/stats/2016/baylor/boxscore/2972

In [11]:
test_model([
    "Wooten, Jessica",
    "Banks, Bailey",
    "O'Brien, Madison",
    "Gillard, Blair",
    "Erickson, Hailey",
    "Davenport, Kayla",
    "Richey, Ashtyn",
    "Lewis, Hannah",
    "Davis, Makenna",
    "Kankel, Courtney",
    "Vivens, Mikayla"
])

model output: [1]

C:\Users\Zeynep\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

Prairie View takımı hauston baptiste karşı kaybetmiş takım

In [12]:
test_model([
    "Morton, Hailee",
    "Franklin, Mykaeli",
    "Brown, Latrice",
    "Pearson, Victoria",
    "Goudeau, Taylor",
    "Martinez, Larissa",
    "Augustine, Christen",
    "Jimenez, Erica",
    "Smith, Destiny",
    "Mitchell, Britny"
])

model output: [0]

C:\Users\Zeynep\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

prairie view baylor karşı kaybetmiş takım

In [13]:
test_model([
    "Jimenez, Erica",
    "Hensch, Calli-Jordan",
    "Walker, Sydney",
    "Franklin, Mykaeli",
    "Tapaevalu, Asena",
    "Martinez, Larissa",
    "Augustine, Christen",
    "Kirkham, Kira",
    "Harris, Emonie",
    "Gonzales, Sommer",
    "Martinez, Marina"
])

model output: [0]

C:\Users\Zeynep\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

Houston Baptist takımı kazanmış : https://pvpanthers.com/sports/womens-volleyball/stats/2017/houston-baptist/boxscore/3493

In [14]:
test_model(["Wooten, Jessica",
"Banks, Bailey",
"O'Brien, Madison",
"Gillard, Blair",
"Erickson, Hailey",
"Davenport, Kayla",
"Richey, Ashtyn",
"Lewis, Hannah",
"Davis, Makenna",
"Kankel, Courtney",
"Vivens, Mikayla"

])

model output: [1]

C:\Users\Zeynep\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

Boise State kazanmış: https://broncosports.com/news/2017/8/25/Broncos_Sweep_NDSU_in_Season_Opener

In [18]:
test_model([
    "Nobley, Sierra",
    "Roberts, Sabryn",
    "Walley, Janell",
    "Lewis, Kiley",
    "Hayes, Laney",
    "Bulda, Jaymee-Lee",
    "Christensen, Celine",
    "Simon, Cassedi",
    "Osburn, Maddi"
])

model output: [1]

C:\Users\Zeynep\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

North Dakota State kaybetmiş: https://broncosports.com/news/2017/8/25/Broncos_Sweep_NDSU_in_Season_Opener

In [19]:
test_model([
    "Burke, McKenzie",
    "Gelzinyte, Erika",
    "Mauch, Allie",
    "Lien, Bella",
    "Halverson, Emily",
    "Purnell, Mikaela",
    "Erickson, Alex",
    "Klos, Abbi",
    "Rasmusson, Brianna"
])

model output: [0]

C:\Users\Zeynep\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(